<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786490570657-t0lri8bdo7o07f0mjlh7pv3vcphvv0o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786490570657-t0lri8bdo7o07f0mjlh7pv3vcphvv0o5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786490570657-5f1hpq3opimaabk7gt8d1iq9aoo9fhtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHhpoJXzLh_EQaAivAdYmZbnBDySRdQok</string>
	<key>GCM_SENDER_ID</key>
	<string>786490570657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cibleapp.cible</string>
	<key>PROJECT_ID</key>
	<string>ciblefirebase-d686e</string>
	<key>STORAGE_BUCKET</key>
	<string>ciblefirebase-d686e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786490570657:ios:376b401705a20a9e8bbde0</string>
</dict>
</plist>